# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [22]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats as st
from scipy.stats import trim_mean, mode, skew, gaussian_kde, pearsonr, spearmanr, beta
from statsmodels.stats.weightstats import ztest as ztest

from scipy.stats import ttest_ind, norm, t
from scipy.stats import f_oneway
from scipy.stats import sem

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [23]:
# Run this code:
salaries = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [24]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [25]:
salaries.shape

(33183, 8)

# Challenge 2
This is a placeholder to make the AI corrector be able to find the correct exercise for feedback

# Challenge 3 - Constructing Confidence Intervals

We will test whether the hourly wage of all hourly workers is significantly different from $30/hr.

In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. Is $30/hr within that interval?

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [26]:
#WE NEED:
#1: MEAN OF SAMPLE
#2: N OF OBSERVATION
#3: STD OF ORIGINAL DISTRIBUTION
#4: Z-SCORE

In [27]:
#Sample mean
wage_mean = salaries["Hourly Rate"].mean()
wage_mean

np.float64(32.78855771628023)

In [28]:
#Sample std
s = salaries["Hourly Rate"].std(ddof=1)
s

12.11257268427681

In [29]:
#z-score
z_score = st.norm.ppf(1-((1-0.95)/2))
z_score

np.float64(1.959963984540054)

In [30]:
#Interval
print("left end: ", wage_mean - z_score* (s/np.sqrt(33183)))
print("right end: ", wage_mean + z_score* (s/np.sqrt(33183)))

left end:  32.65823303735548
right end:  32.91888239520498

In [31]:
st.t.interval(0.95,33183-1, loc=wage_mean, scale=s/np.sqrt(33183))

(np.float64(32.65822828339105), np.float64(32.918887149169414))

This is fine if we have thousands of worker data. But what if we have only 100 workers data?

Sample 100 workers and re-construct the 95% confidence interval. Is the interval wider of narrower? And why?
Do you still encapsulate the $30/hr mark in this case?

In [40]:
sample = salaries.sample(100)
sample

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
14463,"JONES, CHARLES",HOISTING ENGINEER,WATER MGMNT,F,Hourly,40.0,NaN,49.10
22073,"ORTIZ, YESENIA",CRIMINAL INTELLIGENCE ANALYST,POLICE,F,Salary,NaN,73212.0,NaN
14634,"JONES, THEODIS V",SANITATION LABORER,STREETS & SAN,F,Hourly,40.0,NaN,36.21
27483,"SISSAC JR, ANTHONY",BLACKSMITH,GENERAL SERVICES,F,Hourly,40.0,NaN,45.43
4803,"CHICO, NANCY A",RESIDENT SERVICES COORD I,FAMILY & SUPPORT,F,Salary,NaN,69492.0,NaN
...,...,...,...,...,...,...,...,...
20440,"MOSS, JOHN M",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
14267,"JOHNSON, JERONE",POOL MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,35.60
26329,"SANDERSON, HAKEEM",OPERATING ENGINEER-GROUP C,WATER MGMNT,F,Hourly,40.0,NaN,45.07
8364,"ESQUIVEL, FRANK J",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
31198,"WARD, AARON A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

In [41]:
sample_mean = sample["Hourly Rate"].mean()
sample_mean

np.float64(33.730000000000004)

In [42]:
#Interval
print("left end: ", sample_mean - z_score* (s/np.sqrt(100)))
print("right end: ", sample_mean + z_score* (s/np.sqrt(100)))

left end:  31.355979377869385
right end:  36.104020622130626

In [43]:
st.t.interval(0.95,100-1, loc=wage_mean, scale=s/np.sqrt(100))

(np.float64(30.385160511627923), np.float64(35.19195492093254))

In [44]:
# First we can say that there is evidence that the wage per hours is over $30/hour
#The interval in the sample of 100 is much wider couse we have much less sample
# In both cases the $30/hour is out of the interval